<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" type="text/css" href="/css/github.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>
    <nav>
      <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <!--<li><a href="/cv">CV</a></li>-->
          <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      </ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
    <ul>
        <li><a href="mailto:retoschm@ceh.ac.uk">email</a></li>
        <li><a href="https://github.com/retoschmucki">GitHub</a></li>
    </ul>
  </footer>
  </body>

</html>
